<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{ text_reminder }}{{ name }}</h3>
    </div>
    <div class="modal-body">
		<div class="tmd-alert"></div>
		<div id="form-managepro{{ customer_id }}">
			<div class="well">
				<div class="row">
					<div class="form-group col-sm-4">
						<div class="">
							<label class="control-label" for="input-mail">{{ entry_to_mail }}</label>
							<input type="text" name="email" value="{{ email }}" readonly placeholder="{{ entry_to_mail }}" id="input-mail" class="form-control" />
						</div>
					</div>
					<div class="form-group col-sm-4">
						<div class="">
							<label class="control-label" for="input-dob">{{ entry_dob }}</label>
							<input type="text" name="date_of_birth" value="{{ date_of_birth }}" readonly placeholder="{{ entry_dob }}" id="input-dob" class="form-control" />
						</div>
					</div>
					<div class="form-group col-sm-4">
						<div class="">
							<label class="control-label" for="input-code">{{ entry_code }}</label>
							<input type="text" name="code" value="{{ code }}" readonly placeholder="{{ entry_code }}" id="input-code" class="form-control" />
						</div>
					</div>

					<div class="form-group required col-sm-6">
						<div class="">
							<label class="control-label" for="input-date_start">{{ entry_date_start }}</label>
							<div class="input-group cdate">
								<input type="text" name="date_start" data-date-format="YYYY-MM-DD" placeholder="{{ entry_date_start }}" id="input-date_start" class="form-control" />
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>

					<div class="form-group required col-sm-6">
						<div class="">
							<label class="control-label" for="input-date_end">{{ entry_date_end }}</label>
							<div class="input-group cdate1">
								<input type="text" name="date_end" data-date-format="YYYY-MM-DD" placeholder="{{ entry_date_end }}" id="input-date_end" class="form-control" />
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>
					
					<div class="form-group col-sm-4">
						<div class="">
						<label class="control-label" for="input-dis_type">{{ entry_dis_type }}</label>
						  <select name="dis_type" id="input-dis_type" class="form-control">
							{% for type in types %}
							{% if type.value == module_tmdbirthday_dis_type %}
							<option value="{{ type.value }}" selected="selected">{{ type.text }}</option>
							{% else %}
							<option value="{{ type.value }}">{{ type.text }}</option>
							{% endif %}
							{% endfor %}
						  </select>
						</div>
					</div>
					<div class="form-group required col-sm-4">
						<div class="">
							<label class="control-label" for="input-dis_value">{{ entry_dis_value }}</label>
							<input type="text" name="dis_value" value="{{ module_tmdbirthday_dis_value }}" placeholder="{{ entry_dis_value }}" id="input-discount-value" class="form-control" />
						</div>
					</div>
					<div class="form-group required col-sm-4">
						<div class="">
							<label class="control-label" for="input-total">{{ entry_total }}</label>
							<input type="text" name="total_amount" value="{{ module_tmdbirthday_total_amount }}" placeholder="{{ entry_total }}" id="input-coupon-total" class="form-control" />
						</div>
					</div>
					<div class="form-group col-sm-6">
						<div class="">
							<label class="control-label" for="input-use_coupon">{{ entry_use_coupon }}</label>
							<input type="text" name="use_coupon" placeholder="{{ entry_use_coupon }}" id="input-use_coupon" class="form-control" />
						</div>
					</div>
					<div class="form-group col-sm-6">
						<div class="">
							<label class="control-label" for="input-use_customer">{{ entry_use_customer }}</label>
							<input type="text" name="use_customer" placeholder="{{ entry_use_customer }}" id="input-use_customer" class="form-control" />
						</div>
					</div>
					<div class="form-group col-sm-6">
            <div class="">
            	<label class="control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_products }}</span></label>
              <input type="text" name="product" value="" placeholder="{{ entry_products }}" id="input-product" class="form-control"/>
              <div id="customer-product" class="well well-sm" style="height: 100px; overflow: auto;">
              </div>
            </div>
          </div>

					<div class="form-group col-sm-6">
            <div class="">
            	<label class="control-label" for="input-categories"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_categories }}</span></label>
              <input type="text" name="category" value="" placeholder="{{ entry_categories }}" id="input-categories" class="form-control"/>
              <div id="customer-category" class="well well-sm" style="height: 100px; overflow: auto;">
              </div>
            </div>
          </div>
					<div class="col-sm-8 pull-right">
						<button type="button" data-loading-text="{{ text_loading }}" class="btn btn-info btn-lg tmdgiftadd" rel="{{ customer_id }}">{{ text_addgift }}</button>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script type="text/javascript"><!--
$('#languages a:first').tab('show');
//--></script>

<script type="text/javascript"><!--
$('.cdate').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
$('.cdate1').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

// Products
$('input[name=\'product\']').autocomplete({
  'source': function(request, response) {
	  $.ajax({
		  url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
		  dataType: 'json',
		  success: function(json) {
			  response($.map(json, function(item) {
				  return {
					  label: item['name'],
					  value: item['product_id']
				  }
			  }));
		  }
	  });
  },
  'select': function(item) {
	  $('input[name=\'product\']').val('');
	  $('#customer-product' + item['value']).remove();
	  $('#customer-product').append('<div id="customer-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="products[]" value="' + item['value'] + '" /></div>');
  }
});
$('#customer-product').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

// Category
$('input[name=\'category\']').autocomplete({
  'source': function(request, response) {
	  $.ajax({
		  url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
		  dataType: 'json',
		  success: function(json) {
			  response($.map(json, function(item) {
				  return {
					  label: item['name'],
					  value: item['category_id']
				  }
			  }));
		  }
	  });
  },
  'select': function(item) {
	  $('input[name=\'category\']').val('');
	  $('#customer-category' + item['value']).remove();
	  $('#customer-category').append('<div id="customer-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="categories[]" value="' + item['value'] + '" /></div>');
  }
});
$('#customer-category').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});
//--></script>